
/*Karten design*/
#map {
    width: 80%;
    height: 100%;
}


html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

/*Tabellen design*/

#Datenbereich {
    background-color: rgb(118, 138, 138);
    position: absolute; top: 55%; right: 1%;

}

h1 {
    background-color: #7ab51d;
    width: 15%;
    position: absolute; top: 10px; right: 5%;
}

#eingabe {
    position: absolute; top: 35%; right: 1%;
}

#knopf {
    position: absolute; top: 20%; right: 1%;
}